body {
    margin: 0;
    padding: 0;
    background: url(noise.jpg);
    animation: animation 0.5s steps(10) infinite;
}
@keyframes animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}