body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.firstimage {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.firstimage::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(2915376.jpg);
    background-position: center;
    background-attachment: fixed;
}
.secondimage {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 50%;
}
.secondimage::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(2915376.jpg);
    background-position: center;
    background-attachment: fixed;
    filter: hue-rotate(90deg);
}